form label {
    display: inline-block;
    width: 100px;
}

form div {
    margin-bottom: 20px;
}

form input {
    width: 50%;
}

@media all and (max-width: 720px) {
    form input {
        width: 100%;
    }
  }

.errorMessage {
    color: red;
    padding-bottom: 20px;
}