.info {
    margin-bottom: 20px;
}


/* Pagination */
#pagination {
    margin-bottom: 20px;
}

.activePage {
    background-color: var(--blue);
    color: white;
}

.activeChangePage, .linkPage {
    color: var(--blue);
}


/* Search */

#search {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

#search input {
    width: 40%;
}

#search #divButton {
    display: inline-block;
}

.divButton {
    display: inline-block;
}

/* Table */

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;

    table-layout: fixed;
}

table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
}

table td {
    max-width: 50vw;
    overflow: hidden;
    white-space: nowrap;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--blue);
    color: white;
}

.redirectionBtn {
    padding: 0;
    text-align: center;
}

.redirectionBtn a, .redirectionBtn button {
    padding: 8px 11px;
    width: 100%;
    display: block;
    height: 100%;
}

.redirectionBtn button {
    padding: 8px 13px;
}

.redirectionBtn a:hover, .redirectionBtn form:hover {
    color: var(--blue);
}