.redirection {
    border-top: 1px solid black;
    padding: 10px 0;
    overflow: auto;
}

.redirection span {
    display: inline-block;
    width: 100px;
}

.redirection .btn {
    display: flex;
    flex-direction: row;
}

.redirection .btn i {
    padding: 5px;
}

.redirection .btn div {
    margin-right: 5px;
}

.btnCopy {
    padding: 3px 10px;
    border: 1px solid;
    border-radius: 5px;
    background-color: var(--blue);
    color: white;
}

.columnAlias {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.columnAlias div {
    width: calc(100% - 60px);
    overflow: hidden;
    text-overflow: ellipsis;
}