.buttonPageSize {
    border: 1px solid lightgrey;
    width: min-content;
    display: inline-block;
    color: var(--blue);
    border-collapse: collapse;
}

.buttonPageSize a {
    padding: 7px 15px;
    display: block;
}

.buttonPageSizeActive {
    border: 1px solid var(--blue);
}