@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

@layer base {
    input:read-only,
    textarea:read-only {
        @apply cursor-not-allowed bg-zinc-50 text-zinc-500 dark:bg-zinc-800/85 dark:text-zinc-400;
    }
}

@keyframes dash {
    0% {
        stroke-dashoffset: 1;
    }
    50% {
        stroke-dashoffset: 0;
    }
    50.01% {
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dashoffset: -1;
    }
}

@utility anim-logo {
    stroke-dasharray: 0.4 0.6;
    animation: dash 2s linear infinite;
}

@utility anim-logo2 {
    stroke-dasharray: 1;
    animation: dash 1.5s linear infinite;
}
